

.welcome {
    position: center;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 120%;
}

.mission {
    position: center;
    padding: 20px;
    color: white;
    text-align: center;
    
	background-color: rgba(24, 69, 59, 0.9);
    border-radius: 10px;
    width: 50%;

    margin: 20px auto;
}

.side_by_side {
    display: flex;
    justify-content: center; /* Center the boxes */
    gap: 30px;
    width: 90%;             /* Ensure the container has width */
    margin: 20px auto;      /* Center the container on the page */
    flex-wrap: wrap;
    margin-top: 50px;
}

.join, .contact, .support {
    text-align: center;
    flex: 1 1 250px;
    max-width: 300px;
    min-height: 150px;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.sponsor_b, .join-m-list, .contact-page {
    background-color: white; /* Primary blue */
  	color: rgba(24, 69, 59, 0.9);
  	padding: 10px 20px;
  	border-radius: 5px;
  	border-color: rgba(24, 69, 59, 0.9);
  	cursor: pointer;
  	font-size: 16px;
  	transition: background-color 0.3s ease;
}


