<!DOCTYPE html>

<html>
	<head>
		<title>Leadership - NSBP MSU</title>
    	<link rel="stylesheet" href="../css/all.css">
    	<link rel="stylesheet" href="../css/leadership.css">
	</head>

	<body>
    	<header>
        	<nav class="navbar">
            	<h2 class="logo">NSBP MSU</h2>
            	<ul class="nav-links">
                	<li><a href="../index.html">Home</a></li>
                	<li><a href="Leadership.html">Leadership</a></li>
                	<li><a href="Programs_Events.html">Events</a></li>
                	<li><a href="Outreach.html">Outreach</a></li>
                	<li><a href="Contact.html">Contact</a></li>
            	</ul>
        	</nav>
    	</header>
    	
    	<div class="hero">
        	<img src="../images/random_msu_image.jpg" alt="MSU Image">
        	<div class="hero-text">
            	<h1>Leadership</h1>
        	</div>
    	</div>
    	
    	<div class="officers">
        	<br><h1>Officer Positions</h1>
    	</div>
		<div class="Positions">
			<div class="prez">
				<h2>Keontre Hughes</h2>
				<h4>President</h2>
				<h3>Biophysics</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
				<div class="buttons">
    				<a href = "">
						<img src="../images/linkedin.png" style="width:42px;height:42px;filter: invert(100%); ">
					</a>
					<a href="">
    					<img src="../images/mail.png" style="width:50px;height:42px;filter: invert(100%);">
					</a>
				</div>
			</div>
			<div class="vice-prez">
				<h2>Rashawn Carter</h2>
				<h4>Vice President</h2>
				<h3>Particle Physics</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
				<div class="buttons">
    				<a href = "">
						<img src="../images/linkedin.png" style="width:42px;height:42px;filter: invert(100%); ">
					</a>
					<a href="">
    					<img src="../images/mail.png" style="width:50px;height:42px;filter: invert(100%);">
					</a>
				</div>
			</div>
			<div class="tresurer">
				<h2>Mark Ddamulira</h2>
				<h4>Tresurer</h2>
				<h3>Nuclear Physics</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
				<div class="buttons">
    				<a href = "">
						<img src="../images/linkedin.png" style="width:42px;height:42px;filter: invert(100%); ">
					</a>
					<a href="">
    					<img src="../images/mail.png" style="width:50px;height:42px;filter: invert(100%); ">
					</a>
				</div>
			</div>
			<div class="secr">
				<h2>Maya Wallach</h2>
				<h4>Secretary</h2>
				<h3>Particle Physics</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
				<div class="buttons">
    				<a href = "">
						<img src="../images/linkedin.png" style="width:42px;height:42px;filter: invert(100%); ">
					</a>
					<a href="">
    					<img src="../images/mail.png" style="width:50px;height:42px;filter: invert(100%);">
					</a>
				</div>
			</div>
		</div>
		<div class="officers">
        	<br><h1>Faculty Advisor</h1>
    	</div>
    	<div class="Positions">
        	<div class="fac_adv">
				<h2>Kendall Mahn</h2>
				<h4>Advisor</h2>
				<h3>Particle Physics</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
				<div class="buttons">
    				<a href = "">
						<img src="../images/linkedin.png" style="width:42px;height:42px;filter: invert(100%); ">
					</a>
					<a href="">
    					<img src="../images/mail.png" style="width:50px;height:42px;filter: invert(100%);">
					</a>
				</div>
			</div>
    	</div>
	</body>
	<footer class="footer"></footer>
</html>
