<!DOCTYPE html>

<html>
	<head>
		<title>Programs & Events - NSBP MSU</title>
    	<link rel="stylesheet" href="../css/all.css">
    	<link rel="stylesheet" href="../css/programs_events.css">
	</head>

	<body>
    	<header>
        	<nav class="navbar">
            	<h2 class="logo">NSBP MSU</h2>
            	<ul class="nav-links">
                	<li><a href="../index.html">Home</a></li>
                	<li><a href="Leadership.html">Leadership</a></li>
                	<li><a href="Programs_Events.html">Events</a></li>
                	<li><a href="Outreach.html">Outreach</a></li>
                	<li><a href="Contact.html">Contact</a></li>
            	</ul>
        	</nav>
    	</header>
    	
    	<div class="hero">
        	<img src="../images/random_msu_image.jpg" alt="MSU Image">
        	<div class="hero-text">
            	<h1>Events</h1>
        	</div>
    	</div>
    	<div class="upcoming">
        	<h1>Upcoming Events</h1><br>
    	</div>
    	<div class="calender">
        	<h1>Calender</h1>
        	<iframe src="https://calendar.google.com/calendar/embed?src=c_3f42d37d5c049998c688c911117b758fa6c10c85cafec0205d46cffbfa4cca02%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0; display: block; margin: 0 auto;" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    	</div>
    	<div class="past-head">
			<h1>Past Events</h1><br>
    	</div>
    	<div class="past">
        	<img src="../images/flyers/Industry Talk Finalized.png">
        	<img src="../images/flyers/Copy of NSBP_Faculty_Interview_Flyer (Real Estate Flyer).png">
        	<img src="../images/flyers/Updated Jaideep Form.png">
    	</div><br>
	</body>
    <footer class="footer"></footer>
</html>
